<div class="top_padding_50"></div>
  <div class="well well-sm font_color_blue"><center>Welcome to Mirafra Technologies</center></div>
    <div class="well center_all">
      <%= form_tag :action => "emp_validation" do %>  
        <span class="lead">User Name</span>
        <%= text_field_tag :emp_name, params[:emp_name], :placeholder => "Enter your Mirafra User Name", :class => "form-control" %><br />
        <span class="lead">Password</span>
        <%= password_field :password, params[:password], :placeholder => "Enter the Password", :class => "form-control" %><br />
        <center><%= submit_tag "login" %></center>
      <% end %>
    </div>
  </div>
</div>


